* {
  font-family: "Roboto";
}

button {
  background: none;
  border: 5px solid #00ff47;
  width: 560px;
  height: 80px;
  text-align: center;
  font-size: 35px;
}

hr {
  margin: 0px;
  border: 10px solid #ff6000;
}

.header .ocultar {
  display: none;
}

/* Header */
.header {
  background: #191919;
  height: 150px;
  align-items: center;
  justify-content: space-between;
}

.header ul li a.inicio {
  color: #ff6000;
}

.logo-header {
  width: 300px;
  height: 100px;
  margin-left: 90px;
}

.header ul {
  margin-left: auto;
  margin-right: 40px;
}

.header ul li {
  margin: 0 30px;
}

.header ul li a {
  color: #faf7f7;
  font-weight: bold;
  font-size: 25px;
  margin-top: 50px;
}

/* Section1 */

.first-section {
  background: url("/assets/img/bg1.png") no-repeat;
  height: 800px;
  width: 100%;
}

.first-section .bg-iphone h1 {
  font-size: 70px;
  width: 702px;
  text-align: left;
  color: #faf7f7;
  margin: 0 auto;
  padding: 100px 0 50px 0;
}

.first-section .bg-iphone article p {
  font-size: 35px;
  color: #faf7f7;
  text-align: left;
  width: 810px;
  height: 165px;
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
}

.first-section .bg-iphone a button {
  color: #faf7f7;
  margin-top: 150px;
  margin-left: 280px;
  border-radius: 8px;
}

/* Section2 */

.second-section {
  background: #faf7f7;
  width: 100%;
}

.second-section h1 {
  font-size: 70px;
  color: #191919;
  padding-top: 50px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-body h5 {
  text-align: center;
}

.div-button {
  padding-left: 375px;
  margin: 100px 0 0 0;
  padding-bottom: 100px;
}

.div-button a button {
  color: #191919;
  border-radius: 8px;
}

/* Section3 */

.third-section {
  background: #191919;
  color: #faf7f7;
  width: 100%;
}
.third-section h1 {
  color: #faf7f7;
  font-size: 70px;
  padding-top: 50px;
}

.informacoes h3:first-child {
  margin-top: 40px;
  margin-bottom: 20px;
}

.mascote {
  display: flex;
}

.quote {
  display: flex;
  padding-left: 110px;
  align-items: center;
  margin-right: 300px;
}

.quote p {
  margin-left: 40px;
  width: 400px;
  padding-top: 10px;
}

.quote p span {
  color: #ff6000;
}

.quote p a img {
  width: 15px;
  height: 15px;
}

.title {
  padding-left: 200px;
}

.third-section figure img {
  margin-top: 30px;
}

/* Footer */

footer {
  background: #191919;
  width: 100%;
  height: 150px;
  color: #faf7f7;
  display: flex;
}
footer figure a img {
  width: 300px;
  height: 100px;
  margin: 30px 0 0 90px;
}

footer p {
  margin-left: 180px;
  margin-top: 75px;
  font-size: 25px;
}

@media only screen and (max-width: 787px) {
  * {
    overflow-x: hidden;
  }
  button {
    background: none;
    border: 5px solid #00ff47;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 25px;
  }
  .logo-header {
    width: 300px;
    height: 100px;
    margin: 0 20px;
  }

  .first-section {
    background: url("/assets/img/4oWSXdeAS2g\ \(1\).png") no-repeat;
    width: 100%;
    height: 100%;
  }

  .first-section .bg-iphone h1 {
    font-size: 32px;
    width: 350px;
    text-align: left;
    color: #faf7f7;
    margin: 0;
    padding: 30px 0 10px 0;
  }

  .first-section .bg-iphone article p {
    display: block;
    font-size: 18px;
    margin-left: 0;
    padding-left: 0;
    width: 350px;
    padding-top: 0;
  }

  .first-section .bg-iphone a button {
    color: #faf7f7;
    border-radius: 8px;
    margin: 20px 25px;
  }

  .second-section h1 {
    font-size: 35px;
    color: #191919;
    padding-top: 50px;
    text-align: center;
  }

  .cards {
    display: block;
    margin: 20px 15px;
  }

  .card {
    margin-bottom: 20px;
  }

  .div-button {
    padding-left: 0px;
    margin: 50px auto 0 auto;
    padding-bottom: 50px;
  }

  .div-button a button {
    color: #191919;
    border-radius: 8px;
  }

  .third-section h1 {
    color: #faf7f7;
    font-size: 35px;
    padding-top: 50px;
    text-align: center;
  }

  .informacoes h3:first-child {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 18px;
  }

  .mascote {
    display: flex;
  }

  .quote {
    display: flex;
    padding-left: 30px;
    align-items: center;
  }

  .quote p {
    margin-left: 40px;
    width: 250px;
    padding-top: 10px;
    font-size: 13px;
  }

  .quote p span {
    color: #ff6000;
    font-size: 13px;
    font-weight: bold;
  }

  .quote p a img {
    width: 15px;
    height: 15px;
  }

  .title {
    padding-left: 200px;
  }

  .third-section figure img {
    display: none;
  }

  footer figure a img {
    width: 300px;
    height: 100px;
    margin: 10px 30px;
  }

  footer p {
    display: none;
  }
}
