* {
  font-family: "Roboto";
}

.logo {
  height: 100px;
}

.bg-iphone {
  background: url("/assets/img/bg1.png") no-repeat;
  height: 700px;
}

button {
  width: 400px;
}

.card {
  border-radius: 10px;
}

hr {
  margin: 0;
  border: 10px solid orange;
}
