* {
  font-family: "Roboto";
}

button {
  background: none;
  border: 5px solid #00ff47;
  width: 560px;
  height: 80px;
  text-align: center;
  font-size: 35px;
}

hr {
  margin: 0px;
  border: 10px solid #ff6000;
}

/* Header */
.header {
  background: #191919;
  height: 150px;
  align-items: center;
}

.logo-header {
  width: 300px;
  height: 100px;

  margin-left: 90px;
}

.header ul li a {
  color: #faf7f7;
  font-weight: bold;
  font-size: 25px;
  margin-top: 50px;
}

/* Section1 */

.first-section {
  background: url("/assets/img/bg1.png") no-repeat;
  height: 800px;
  width: 100%;
}

.first-section .bg-iphone h1 {
  font-size: 70px;
  width: 702px;
  text-align: left;
  color: #faf7f7;
  margin: 0 auto;
  padding: 100px 0 50px 0;
}

.first-section .bg-iphone article p {
  font-size: 35px;
  color: #faf7f7;
  text-align: left;
  width: 810px;
  height: 165px;
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
}

.first-section .bg-iphone a button {
  color: #faf7f7;
  margin-top: 150px;
  margin-left: 240px;
  border-radius: 8px;
}

/* Section2 */

.second-section {
  background: #faf7f7;
  width: 100%;
}

.second-section h1 {
  font-size: 70px;
  color: #191919;
  padding-top: 50px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-body h5 {
  text-align: center;
}

.div-button {
  padding-left: 375px;
  margin: 100px 0 0 0;
  padding-bottom: 100px;
}

.div-button a button {
  color: #191919;
  border-radius: 8px;
}

/* Section3 */

.third-section {
  background: #191919;
  color: #faf7f7;
}
.third-section h1 {
  color: #faf7f7;
  font-size: 70px;
  padding-top: 50px;
}

.informacoes h3:first-child {
  margin-top: 40px;
  margin-bottom: 20px;
}

.mascote {
  display: flex;
}

.quote {
  display: flex;
  padding-left: 110px;
  align-items: center;
  margin-right: 300px;
}

.quote p {
  margin-left: 40px;
  width: 300px;
  padding-top: 10px;
}

.title {
  padding-left: 200px;
}

.third-section figure img {
  margin-top: 30px;
}

/* Footer */

footer {
  background: #191919;
  width: 100%;
  height: 150px;
  color: #faf7f7;
  display: flex;
}
footer figure a img {
  width: 300px;
  height: 100px;
  margin: 30px 0 0 90px;
}

footer p {
  margin-left: 180px;
  margin-top: 75px;
  font-size: 25px;
}
